In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])

In [12]:
df

          A         B         C         D
0 -1.216233 -1.132856 -0.023425  0.309456
1  2.685774  0.311282 -0.149878 -1.653568
2 -0.610380 -0.182028  0.275737  0.015520
3 -1.004996 -0.504298  1.534708  0.421997
4  2.978658  0.398565  1.200092 -0.317332
5 -0.874764 -0.488651  0.360236 -0.211903
6  0.350556  1.411867  0.565889 -1.678891
7  0.112157  0.027652  2.691287  0.331379

In [13]:
df['A']

0   -1.216233
1    2.685774
2   -0.610380
3   -1.004996
4    2.978658
5   -0.874764
6    0.350556
7    0.112157
Name: A, dtype: float64

In [15]:
df[['A','B']]

          A         B
0 -1.216233 -1.132856
1  2.685774  0.311282
2 -0.610380 -0.182028
3 -1.004996 -0.504298
4  2.978658  0.398565
5 -0.874764 -0.488651
6  0.350556  1.411867
7  0.112157  0.027652